DISCORD_TOKEN=tokenul_botului_tau
DISCORD_CLIENT_ID=id_aplicatie_bot

GUILD_ID=1518541823788843100
REPORT_CHANNEL_ID=1518553389095588062
NOTIFICATION_CHANNEL_ID=1518553389095588062

DATABASE_PATH=./data/politie_reports.sqlite
MENTION_STAFF_ON_REPORT=false
DELETE_INVALID_REPORTS=false
